
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-iconquit:before { content: "\e69b"; }

.icon-home:before { content: "\e885"; }

.icon-judge:before { content: "\e69f";color: #fff; }

.icon-cup:before { content: "\e632"; }

.icon-me:before { content: "\e602";font-size: 22px; }

.icon-set:before { content: "\e600"; color: #fff; font-size: 14px;}

.icon-active:before { content: "\e622"; color: #fff; font-size: 16px;}

.icon-customservice:before { content: "\e64b"; color: #fff; font-size:18px;}

.icon-wallet:before { content: "\e62b"; color: #fff; font-size: 20px;}

.icon-add:before { content: "\e63e"; }

.icon-edit:before { content: "\e60c";color: #fff; }

